header {
    background-color: papayawhip;
}

h1 {
    color: brown;
}

#greenback {
    background-color: #00FF00;
}

.yellowred { background-color: yellow; color: #FF0000; }


a {
    color: green;
}

a:visited {
    color: red;
}

a:hover {
    color: orange;
}

